html, body, #viz {
}
html, body {
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}
#viz {
  width: 460px;
  height: 460px;
  margin: 50px auto;
  padding: 0;
  background-color: white;
}
